{erl_opts, [
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_unused_record,
    warn_unused_vars,

    warning_as_errors,

    debug_info
]}.

{minimum_otp_vsn, "18.0"}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.

{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.1.1-beta"}
        ]},

        {eunit_opts, [
            verbose,
            {report, {eunit_progress, [colored, profile]}}
        ]}
    ]},

    {docs, [
        {deps, [
            {edown, {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
        ]},

        {edoc_opts, [
            {doclet, edown_doclet},
            {top_level_readme, {"./README.md", "https://lab.baconsvin.org/talla/ed25519_ref10"}},
            {todo, true},
            {report_missing_types, true},
            {source_path, ["src"]},
            {stylesheet, ""},
            {image, ""},
            {app_default, "http://www.erlang.org/doc/man"}
        ]}
    ]}
]}.

{plugins, [
    {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper.git", {branch, "master"}}}
]}.

%% vim: set ft=erlang :
